.addButton {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: grey;
    margin: 20px;
    font-size: 50px;
    text-align: center;
    overflow: hidden;
}